<pfb-navbar></pfb-navbar>

<!-- Sidebar -->
<!-- ATTENTION: note the use of location-overview class -->
<div class="sidebar location-overview">

    <!-- Everything in .sidebar-header will not scroll.  -->
    <div class="sidebar-header">
        <div class="row">
            <div class="column-8">
                <h2 class="sidebar-title">{{placeDetail.place.label }}</h2>
                <h4 class="sidebar-title">{{placeDetail.place.label_suffix}}</h4>
                <div class="location-timestamp"><span>Last updated:</span>
                    {{placeDetail.place.modifiedAt | date:'MMMM dd, yyyy'}}</div>
            </div>
            <div class="column text-right">
                <a class="btn btn-primary" ui-sref="places.list">Back to search</a>
            </div>
        </div>
    </div>

    <!-- Everything in sidebar-scrollable will scroll. -->
    <div class="sidebar-scrollable">
        <section>
            <div class="metric-details">
                <div class="row" ng-if="placeDetail.lastJobScore">
                    <div class="column">
                        <label class="network-score large flex-row columns-center">
                            {{placeDetail.lastJobScore | number:0}}
                            <span class="h3">BNA Score</span>

                            <div class="tooltip" data-title="On average, this is how well the bike network gets people to the places they want to go."><i class="icon-info-circled"></i></div>
                        </label>
                    </div>
                    <div class="column text-right">
                        <button class="btn btn-default" type="button"
                            ui-sref="places.compare({place1: placeDetail.place.uuid})">Compare
                        </button>
                        <div class="dropdown" uib-dropdown is-open="status.isopen"
                            ng-if="placeDetail.downloads">
                          <button id="single-button" type="button" class="btn btn-default btn-s" uib-dropdown-toggle ng-disabled="disabled" id="downloadButton">
                            Download <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" uib-dropdown-menu role="menu"
                            aria-labelledby="downloadButton">
                            <li ng-repeat="item in placeDetail.downloads">
                                <a role="menuitem" href="{{item.url}}"
                                    class="compare-remove">{{item.label}}</a>
                            </li>
                            <li><a href="https://s3.amazonaws.com/pfb-public-documents/BNA.Data.Dictionary.xlsx" class="compare-remove">Data Dictionary</a></li>
                          </ul>
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="!placeDetail.lastJobScore">
                    <div class="column">
                        <label class="network-score large flex-row columns-center">
                            <span class="h3">No results available</span>
                        </label>
                    </div>
                </div>
            </div>
        </section>
        <ul class="metric-list">
            <li ng-repeat="m in placeDetail.metadata"
                ng-if="placeDetail.scores[m.name]"
                ng-class="m.subscoreClass">
                {{ ::m.label }}
                <div class="tooltip" data-title="{{ ::m.description }}"><i class="icon-info-circled"></i></div>
                <span class="network-score small">{{ ::placeDetail.scores[m.name].score_normalized | number:0 }}</span>
            </li>
        </ul>
    </div>
</div>
<!-- Sidebar -->

<!-- Map -->
<div class="preview-map">
    <pfb-place-map
        pfb-place-map-layers="placeDetail.mapLayers"
        pfb-place-map-uuid="placeDetail.place.uuid">
    </pfb-place-map>
</div>
<!-- Map -->
