<pfb-navbar></pfb-navbar>

<div class="container">
  <div class="row">
    <div class="column-12">
      <button ng-if="neighborhoodList.isAdminUser"
        ui-sref="admin.neighborhoods.create" class="btn btn-primary pull-right">
        Upload Neighborhood
      </button>
      <h1 class="no-margin-top">Neighborhoods</h1>
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>State</th>
            <th>City FIPS</th>
            <th>Country</th>
            <th>Visibility</th>
            <th>Created</th>
            <th ng-if="neighborhoodList.isAdminUser"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="neighborhood in neighborhoodList.neighborhoods">
            <td>{{neighborhood.uuid}}</td>
            <td>{{neighborhood.label}}</td>
            <td>{{neighborhood.state_abbrev}}</td>
            <td>{{neighborhood.city_fips}}</td>
            <td>{{neighborhood.country.code}}</td>
            <td>{{neighborhood.visibility}}</td>
            <td>{{neighborhood.createdAt | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td ng-if="neighborhoodList.isAdminUser">
              <button ng-click="neighborhoodList.deleteUpload(neighborhood)"
                      uib-tooltip="Delete"
                      class="btn-link glyphicon glyphicon-trash"></button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="buttons-pagination">
        <button class="btn-default btn" ng-click="neighborhoodList.getPrev()"
                ng-disabled="!neighborhoodList.hasPrev">

          Newer
        </button>
        <button class="btn-default btn" ng-click="neighborhoodList.getNext()"
                ng-disabled="!neighborhoodList.hasNext">
          Older
        </button>
      </div>
    </div>
  </div>
</div>
