# Django and psycopg2 are included in the django base container but repeated here
# so that the analysis container will know to install them. These should be kept
# in sync with the versions in the base container.
Django==1.10.7
psycopg2==2.7.1

djangorestframework==3.6.2
django-filter==1.0.2
boto3==1.4.4
fiona==1.7.4
django-amazon-ses==0.3.0
django-extensions==1.7.9
django-localflavor==1.4.1
django-storages==1.5.2
django-watchman==0.12
requests==2.13.0
us==0.9.1
