<pfb-navbar></pfb-navbar>

<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-push-1">
      <h1>Upload Data</h1>
      <form name="boundaryUploadForm" novalidate ng-submit="boundaryUpload.create()">
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label for="file">File</label>
              <input ngf-select ng-model="boundaryUpload.file"
                     ngf-pattern="'.xml'" ngf-accept="'.xml'"
                     type="file" name="file" required>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label for="role">Neighborhood</label>
              <select ng-model="boundaryUpload.neighborhood"
                      ng-options="neighborhood as neighborhood.name for neighborhood in boundaryUpload.neighborhoods track by neighborhood.uuid"
                      class="form-control" id="role" type="text" required>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <button type="submit" ng-disabled="boundaryUploadForm.$invalid"
                    class="btn-primary btn">Upload Boundary</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
