<pfb-navbar></pfb-navbar>

<div class="container">
  <div class="row">
    <div class="column-12">
      <button class="btn btn-danger pull-right"
              ng-click="analysisJobDetail.cancel(analysisJobDetail.job.uuid)">
        <span class="glyphicon glyphicon-ban-circle"></span>
        Cancel Job
      </button>
      <button class="btn btn-primary pull-right"
              ng-click="analysisJobDetail.getAnalysisJob(analysisJobDetail.job.uuid)">
        <span class="glyphicon glyphicon-refresh"></span>
        Refresh
      </button>

      <a class="btn btn-default" ui-sref="admin.analysis-jobs.list">Go back</a>
      <h1 class="no-margin-top">
        Analysis Job
      </h1>
      <table class="table" ng-if="analysisJobDetail.job">
        <tbody>
          <tr ng-repeat="(k, v) in analysisJobDetail.job">
            <td>{{ k }}</td>
            <td ng-if="k === 'neighborhood'">{{ v.label }}</td>
            <td ng-if="k !== 'neighborhood'">{{ v }}</td>
          </tr>
        </tbody>
      </table>

      <!-- Show results overall scores -->
      <h2 ng-if="analysisJobDetail.results">Overall Scores</h2>
      <table class="table" ng-if="analysisJobDetail.results">
        <thead>
          <tr>
            <th>Score ID</th>
            <th>Value</th>
            <th>Normalized Value</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="(name, data) in analysisJobDetail.results.overall_scores">
            <td>{{ name }}</td>
            <td>{{ data.score_original }}</td>
            <td>{{ data.score_normalized }}</td>
          </tr>
        </tbody>
      </table>

      <!-- Show results destinations tables -->
      <h2 ng-if="analysisJobDetail.results">Data</h2>
      <table class="table" ng-if="analysisJobDetail.results">
          <tbody>
              <tr>
                  <td>Census Blocks</td>
                  <td><a ng-href="{{ analysisJobDetail.results.census_blocks_url }}">ESRI Shapefile</a></td>
              </tr>
              <tr>
                  <td>Connected Census Blocks</td>
                  <td><a ng-href="{{ analysisJobDetail.results.connected_census_blocks_url }}">Zipped CSV</a></td>
              </tr>
              <tr>
                  <td>Overall Scores</td>
                  <td><a ng-href="{{ analysisJobDetail.results.overall_scores_url }}">CSV</a></td>
              </tr>
              <tr>
                  <td>Score Inputs</td>
                  <td><a ng-href="{{ analysisJobDetail.results.score_inputs_url }}">CSV</a></td>
              </tr>
              <tr>
                  <td>Ways</td>
                  <td><a ng-href="{{ analysisJobDetail.results.ways_url }}">ESRI Shapefile</a></td>
              </tr>
              <tr ng-repeat="layer in analysisJobDetail.results.destinations_urls">
                  <td>Destination: {{ layer.name }}</td>
                  <td><a ng-href="{{ layer.url }}">GeoJSON</a></td>
              </tr>
          </tbody>
      </table>
    </div>
  </div>
</div>
