.navbar {
    @extend %clearfix;
    position: relative;
    padding: 0.5rem 1rem;
    background-color: $brand-navy;
    z-index: 11;

    .container {
        max-width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        @include respond-to("sm-down") {
            flex-direction: column;
        }
    }

    nav {
        display: inline-block;
        vertical-align: middle;

        a {
            padding: 18px 20px;
            color: #fff;
            text-transform: uppercase;

            &:hover {
                color: $link-color;
            }

            &.active {
                color: $link-color;
                box-shadow: 0 2px 0 0 $link-color;
            }
        }
    }
}

.navbar-left {
    flex: none;
}

.navbar-right {
    flex: none;
}

.pfb-logo-small {
    width: auto;
    height: 4rem;
}

.brand {
    display: flex;
    flex-direction: row;

    @include respond-to("sm-down") {
        flex-direction: column;
        margin-top: 2.4rem;
        margin-bottom: 0.8rem;
    }
}
