version: '2'
services:
  nginx:
    image: pfb-nginx:${GIT_COMMIT}
    build:
      context: ./src/nginx
      dockerfile: Dockerfile

  django:
    image: pfb-app:${GIT_COMMIT}
    build:
      context: ./src/django
      dockerfile: Dockerfile

  analysis:
    image: pfb-analysis:${GIT_COMMIT}
    build:
      context: ./src
      dockerfile: analysis/Dockerfile

  tilegarden:
    env_file: ./src/tilegarden/.env
    volumes:
      - ./src/tilegarden/claudia:/opt/pfb/tilegarden/claudia
