<div class="navbar">
  <div class="container">
    <!-- Logo area -->
    <div class="navbar-left">
      <span uib-dropdown class="dropdown"
              ng-mouseenter="login.isopen=true" and ng-mouseleave="login.isopen=false"
              is-open="login.isopen">
            <a uib-dropdown-toggle role="button" class="brand">
                <img ng-if="navbar.hideName" src="assets/images/placesforbikes-icon.png"
                    alt="Places for bikes">
                <img ng-if="!navbar.hideName" src="assets/images/placesforbikes-logo-white.png"
                    alt="Places for bikes">
                <span class="caret"></span>
            </a>
            <ul uib-dropdown-menu class="dropdown-menu">
              <li><a ui-sref="home">Home</a></li>
              <li role="separator" class="divider"></li>
              <li ng-if="navbar.userName"><a ui-sref="login" ng-click="navbar.logout()"
                class="dropdown-link">Sign Out</a></li>
              <li ng-if="!navbar.userName"><a ui-sref="login" ng-click="navbar.logout()"
                class="dropdown-link">Sign In</a></li>
            </ul>
        </span>
    </div>
    <!-- Logo area -->
    <div class="navbar-right">
      <nav>
        <span ng-if="!navbar.admin">
          <a ui-sref="places.list">All locations</a>
          <a href="#">About</a>
          <a href="#">Methodology</a>
          <a href="http://www.peopleforbikes.org/" target="_blank">People for bikes</a>
        </span>
        <span ng-if="navbar.admin">
          <a ui-sref="admin.help">Help</a>
          <a ui-sref="admin.analysis-jobs.list">Jobs</a>
          <a ui-sref="admin.neighborhoods.list">Neighborhoods</a>
          <a ng-if="navbar.isAdminUser" ui-sref="admin.users.list">User Management</a>
          <a ng-if="navbar.isAdminUser" ui-sref="admin.organizations.list">Org Management</a>
          <span uib-dropdown class="dropdown"
              ng-mouseenter="status.isopen = true" and ng-mouseleave="status.isopen = false"
              is-open="status.isopen">
            <a uib-dropdown-toggle role="button">{{navbar.userName}}<span class="caret"></span></a>
            <ul uib-dropdown-menu class="dropdown-menu">
              <li><a ui-sref="admin.users.edit({uuid: navbar.userUuid})">Account Settings</a></li>
              <li role="separator" class="divider"></li>
              <li><a ui-sref="login" ng-click="navbar.logout()">Sign Out</a></li>
            </ul>
          </span>
        </span>
      </nav>
    </div>
  </div>
</div>
