<div class="navbar">
  <div class="container">
    <!-- Logo area -->
    <div class="navbar-left">
      <a ui-sref="home" class="brand">
        <img src="assets/images/bna-icon.png" alt="Bicycle Network Analysis">
      </a>
    </div>
    <!-- Logo area -->
    <div class="navbar-right">
      <nav>
        <span ng-if="!navbar.admin">
          <a ui-sref="places.list" ui-sref-active="active">All places</a>
          <a ui-sref="methodology" ui-sref-active="active">Methodology</a>
          <a href="https://www.peopleforbikes.org/placesforbikes/pages/bicycle-network-analysis"
            target="_blank">Feedback</a>
          <a href="https://www.peopleforbikes.org/" target="_blank">PeopleForBikes</a>
        </span>
        <span ng-if="navbar.admin">
          <a ui-sref="admin.help">Help</a>
          <a ui-sref="admin.analysis-jobs.list">Jobs</a>
          <a ui-sref="admin.neighborhoods.list">Neighborhoods</a>
          <a ng-if="navbar.isAdminOrOrgAdminUser" ui-sref="admin.users.list">User Management</a>
          <a ng-if="navbar.isAdminUser" ui-sref="admin.organizations.list">Org Management</a>
          <span uib-dropdown class="dropdown"
              ng-mouseenter="status.isopen = true" and ng-mouseleave="status.isopen = false"
              is-open="status.isopen">
            <a uib-dropdown-toggle role="button">{{navbar.userName}}<span class="caret"></span></a>
            <ul uib-dropdown-menu class="dropdown-menu">
              <li><a ui-sref="admin.users.edit({uuid: navbar.userUuid})">Account Settings</a></li>
              <li role="separator" class="divider"></li>
              <li><a ui-sref="login" ng-click="navbar.logout()">Sign Out</a></li>
            </ul>
          </span>
        </span>
      </nav>
    </div>
  </div>
</div>
