<pfb-navbar></pfb-navbar>


<!-- Sidebar -->
<div class="sidebar">

    <!-- Everything in .sidebar-header will not scroll.  -->
    <div class="sidebar-header">
        <h2 class="sidebar-title">City/Town Search</h2>
        <div class="row">
            <div class="column">
                <div class="form-group">
                    <label for="neighborhood-filter">Filter by city or town name</label>
                    <input name="neighborhood-filter" ng-model="placeList.neighborhoodFilter"
                        type="text" class="form-control"
                        uib-typeahead="neighborhood as (neighborhood.label + ', ' +
                                       neighborhood.state_abbrev) for neighborhood in
                                       placeList.allNeighborhoods |
                                       filter: {label : $viewValue} |
                                       limitTo: 8">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="column-7">
                <div class="form-group">
                    <label for="sort-options">Sort by</label>
                    <select name="sort-options" class="form-control"
                        ng-options="item as item.label for item in placeList.sortingOptions track by item.value"
                        ng-model="placeList.sortBy"
                        ng-change="placeList.getPlaces()">
                    </select>
                </div>
            </div>
            <div class="column">

                <!-- Compare dropdown -->
                <div class="form-group">
                    <label for="compare-dropdown">Compare</label>
                    <select ng-model="placeList.placeToRemoveFromComparison" name="compare-dropdown"
                        ng-disabled="!placeList.comparePlacesCount()" class="form-control"
                        id="role" type="text">
                    <option selected disabled value="">{{placeList.comparePlacesCount()}} Selected</option>
                    <option ng-repeat="neighborhood in placeList.comparePlaces | filter:{uuid: '!!'}"
                        value="{{neighborhood.uuid}}">
                        <div>
                            <div class="compare-title">{{neighborhood.label}},
                                {{neighborhood.state_abbrev}}</div>
                            <div class="network-score small">{{neighborhood.overall_score | number:0}}</div>
                            <a href="#" class="compare-remove">Remove</a>
                        </div>
                    </option>
                    <option value="compare">
                        <a href="#" class="compare-btn">Compare Places</a>
                    </option>
                    </select>
                </div>

            </div>
        </div>
    </div>

    <!-- Everythign in sidebar-scrollable will scroll.
            #scrollHeaders makes the jquery for sticky headers work.

            The stick headers are probably only needed when sorting alphabetically. -->
    <div class="sidebar-scrollable" id="scrollHeaders">

        <section>
            <!-- Duplicate .result div for each result. -->
            <div class="result" ng-repeat="neighborhood in placeList.places">
                <a ui-sref="places.detail({uuid: '{{neighborhood.uuid}}' })" class="result-link"></a>
                <div class="result-left">

                    <!-- .result-preview should display the shapefile preview -->
                    <div class="result-preview">
                        <pfb-thumbnail-map pfb-thumbnail-map-place="neighborhood.uuid">
                        </pfb-thumbnail-map>
                    </div>
                    <div class="result-title">{{neighborhood.label}}, {{neighborhood.state_abbrev}}
                        <div class="location-timestamp"><span>Last updated:</span> {{neighborhood.modifiedAt | date:'MMMM dd, yyyy'}}</div>
                    </div>
                </div>
                <div class="result-right">
                    <div class="network-score">{{neighborhood.overall_score | number:0}}</div>
                    <div class="compare">
                        <button ng-disabled="neighborhood.comparing" class="btn btn-toggle active"
                            ng-click="placeList.addPlaceToCompare(neighborhood, true)">Compare
                            <span></span>
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <!-- Pagintation -->
        <section class="paginate">
            <button class="btn btn-default paginate-previous"
                ng-click="placeList.getPrev()"
                ng-disabled="!placeList.hasPrev">Previous</button>
            <button class="btn btn-default paginate-previous"
                ng-click="placeList.getNext()"
                ng-disabled="!placeList.hasNext">Next</button>
        </section>
        <!-- Pagintation -->
    </div>
</div>
<!-- Sidebar -->

<!-- Map -->
<div class="preview-map">
    <pfb-places-list-map></pfb-places-list-map>
</div>
<!-- Map -->
