<tr class="filters">
    <th>ID</th>
    <th>
        <div class="dropdown">
        <input name="neighborhood-filter" ng-model="ctl.statusFilter" title="Filter by Status"
            placeholder="Status" type="text" class="form-control"
            uib-typeahead="status for status in ctl.statuses |
                           filter: $viewValue |
                           limitTo: 8">
        </div>
    </th>
    <th>
        <div class="dropdown neighborhood">
            <input title="Filter by Neighborhood" placeholder="Neighborhood"
                ng-model="ctl.neighborhoodFilter"
                type="text" class="form-control"
                uib-typeahead="neighborhood as (neighborhood.label + ', ' +
                               neighborhood.state_abbrev) for neighborhood in ctl.neighborhoods |
                               filter: {label : $viewValue} |
                               limitTo: 8">

        </div>
    </th>
    <th>Batch Job ID</th>
    <th>Created At</th>
    <th></th>
</tr>
