<tr class="filters">
    <th>ID</th>
    <th>
        <div class="dropdown">
        <input 
               title="Filter by Status"
               placeholder="Status"
               ng-model="ctl.statusFilter"
               ng-model-options="{ debounce: 400 }"
               ng-change="ctl.onFilterChanged()"
               type="text"
               uib-typeahead="status for status in ctl.statuses | filter: $viewValue | limitTo: 8"
               typeahead-wait-ms="400"
               typeahead-on-select="ctl.onFilterChanged()"
               class="form-control">
        </div>
    </th>
    <th>
        <div class="dropdown neighborhood">
            <input 
                   title="Filter by Neighborhood"
                   placeholder="Neighborhood"
                   ng-model="ctl.searchText"
                   ng-model-options="{ debounce: 400 }"
                   ng-change="ctl.onFilterChanged()"
                   type="text"
                   class="form-control"/>
        </div>
    </th>
    <th>
        <div class="dropdown">
            <input 
                   title="Filter by State abbreviation"
                   placeholder="State"
                   ng-model="ctl.state_abbrev"
                   ng-model-options="{ debounce: 400 }"
                   ng-change="ctl.onFilterChanged()"
                   type="text"
                   class="form-control"/>
        </div>
    </th>
    <th>
        <div class="dropdown">
            <input 
                   title="Filter by City FIPS"
                   placeholder="City FIPS"
                   ng-model="ctl.city_fips"
                   ng-model-options="{ debounce: 400 }"
                   ng-change="ctl.onFilterChanged()"
                   type="text"
                   class="form-control"/>
        </div>
    </th>
    <th>
        <div class="dropdown">
            <input 
                   title="Filter by Batch ID"
                   placeholder="Batch ID"
                   ng-model="ctl.batchId"
                   ng-model-options="{ debounce: 400 }"
                   ng-change="ctl.onFilterChanged()"
                   type="text"
                   class="form-control"/>
        </div>
    </th>
    <th>Import Status</th>
    <th>Created At</th>
    <th></th>
</tr>
