<tr class="filters">
    <th>Email</th>
    <th>Name</th>
    <th>
        <div class="dropdown user">
            <input ng-model="ctl.organizationFilter" title="Filter by Organization"
            placeholder="Organization" type="text" class="form-control"
            uib-typeahead="org as org.name for org in ctl.organizations |
                           filter: $viewValue |
                           limitTo: 8">
        </div>
    </th>
    <th>
        <div class="dropdown user">
            <ui-select ng-model="ctl.roleFilter" title="Filter by Role">
                <ui-select-match allow-clear="true" placeholder="Role" >
                    {{$select.selected}}
                </ui-select-match>
                <ui-select-choices repeat="role as role in ctl.roles | filter: $select.search">
                    <div ng-bind-html="role | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
    </th>
    <th>
    </th>
</tr>
