<tr class="filters">
    <th>Email</th>
    <th>Name</th>
    <th>
        <div class="dropdown user">
            <input ng-model="ctl.organizationFilter" title="Filter by Organization"
            placeholder="Organization" type="text" class="form-control"
            uib-typeahead="org as org.name for org in ctl.organizations |
                           filter: $viewValue |
                           limitTo: 8">
        </div>
    </th>
    <th>
        <div class="dropdown user">
            <input ng-model="ctl.roleFilter" title="Filter by Role"
            placeholder="Role" type="text" class="form-control"
            uib-typeahead="role for role in ctl.roles |
                           filter: $viewValue |
                           limitTo: 8">
        </div>
    </th>
    <th>
    </th>
</tr>
