<pfb-navbar></pfb-navbar>

<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-push-1">
      <button ng-if="navbar.isAdminUser"
        ui-sref="analysis-jobs.create" class="btn btn-primary pull-right">
        Run Analysis
      </button>
      <h1 class="no-margin-top">Analysis Jobs</h1>
      <table class="table">
        <thead pfb-analysis-job-filter filters="analysisJobList.filters"></thead>
        <tbody>
          <tr ng-repeat="analysisJob in analysisJobList.analysisJobs">
            <td>{{analysisJob.uuid | limitTo: 5}}</td>
            <td>{{analysisJob.status | displayStatus}}</td>
            <td>{{analysisJob.neighborhood_label}}</td>
            <td>{{analysisJob.batch_job_id}}</td>
            <td>{{analysisJob.createdAt | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>
              <button ng-click="analysisJobList.deleteUpload(analysisJob)"
                      uib-tooltip="Delete"
                      class="btn-link glyphicon glyphicon-trash"></button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="buttons-pagination">
        <button class="btn-success btn" ng-click="analysisJobList.getPrev()"
                ng-disabled="!analysisJobList.hasPrev">

          Newer
        </button>
        <button class="btn-success btn" ng-click="analysisJobList.getNext()"
                ng-disabled="!analysisJobList.hasNext">
          Older
        </button>
      </div>
    </div>
  </div>
</div>
