---
ansible_python_interpreter: "/usr/bin/python3"

# PFB env settings
aws_profile: pfb

# AWS Batch development settings
pfb_aws_batch_analysis_job_queue_name: "name_of_batch_analysis_job_queue"
pfb_aws_batch_analysis_job_definition_name: "staging-pfb-analysis-run-job"
