@media print {
  .navbar {
    display: none;
  }

  .preview-map {
    top: 0;
    height: 320px;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: initial;
    display: block !important;

    pfb-place-map {
      display: block;
      position: relative;
      width: 100%;
      height: 100%;
    }

    .map {
      position: relative !important;
      width: 100% !important;
      height: 100% !important;
      display: block;
    }

    .leaflet-top {
      display: none !important;
    }
  }

  .location-timestamp {
    opacity: 1;
  }

  .metric-details {

    .column.text-right {
      display: none;
    }

    .network-score {
      display: block;
      flex-direction: column;
      font-size: 30px;
      margin: 5px;
      text-align: center;
    }
  }

  .sidebar {
    position: relative;
    margin-top: 320px;
    bottom: initial;
    border: none;
    width: auto;
    height: auto;
    display: block;
    overflow: visible;

    .sidebar-header {
      text-align: center;

      .column-8 {
        width: 100%;
      }

      .column.text-right {
        display: none;
      }
    }

    .network-score {
      float: none;
      height: auto;
      width: auto;
      order: -1;
    }

    .tooltip {
      float: none;
      width: 100%;
      height: auto;
      display: block;
      margin: 5px auto;
      text-align: center;
      color: black;

      i {
        display: none;
      }
    }

    .tooltip:before {
      display: none;
    }

    .tooltip:after {
      opacity: 1;
      background: none;
      color: black;
      padding: 0;
      position: relative;
      top: initial;
      left: initial;
      display: block;
      transform: none;
      text-align: center;
      font-style: italic;
      margin: auto;
      font-size: 14px;
    }
  }

  .sidebar-scrollable {
    display: block;
    overflow: visible;
    flex: initial;
  }

  .metric-list {
    display: block;
    flex-direction: row;
    flex-wrap: wrap;

    li {
      display: block;
      text-align: center;
      width: 100%;
      line-height: 1;
      padding: 1rem !important;
    }
  }

  .network-score,
  .tooltip,
  .tooltip:after,
  .metric-list li {
    page-break-inside: avoid;
  }

  .row {
    display: block;
  }
}
