$brand-primary: #0068ac;
$brand-secondary: #D5171F;
$brand-tertiary: #999;
$color-header: #00244C;
$color-about-background: #000;
$color-numbers-background: #F2F2F2;
$text-color: #666;
$headings-color: #222;
$navbar-default-bg: #fbfbfb;
$btn-success-bg: #585858;

$headings-font-weight:    600;
$font-family-sans-serif: "open sans", helvetica, arial, sans-serif;


$padding-vertical: 4rem;
$padding-base-horizontal: 6px;

$font-size-h1: 4.19rem;
$font-size-h2: 2.59rem;
$font-size-h3: 1.6rem;
$font-size-h4: 1.3rem;
$font-size-base: 16px;
$line-height-base: 1.618;
