/* 
 * LMC Variables
 * If overridng bootstrap please place inside _bs-variables.scss
 */

// Brand Colors:
$brand-primary: #00a1e1;   // blue
$brand-secondary: #e31d1a; // red

// Base Colors:
$text-base: #000000;
$shade-light: #f3f3f3;
$shade-normal: #bcbcbc;
$shade-dark: #9da0a7;
$link-color: $brand-primary;
$white: #fff;

// Action Colors:
$warning: #E69348; // orange
$danger: #F98094;  // red
$success: #21ce90;  // red

// Border Radius
$border-radius-base: 2px;


/* * * *
 * Screen Sizes
 * Used in _mixins.scss > @mixin respond-to($breakpoint)
 * * * */
$breakpoints: (

  'xxs': (max-width: 480px),

  'xs': (max-width: 767px),

  'sm': "(min-width: 768px) and (max-width: 991px)",
  'sm-up': (min-width: 768px),
  'sm-down': (max-width: 991px),

  'md': "(min-width: 992px) and (max-width: 1180px)",
  'md-up': (min-width: 992px),
  'md-down': (max-width: 1180px),

  'lg': (min-width: 1181px),
);


/* * * *
 * Columns
 * * * */
$column-count: 12;
$column-padding: 1rem;
