// Dropdown, Bootstrap

.dropup,
.dropdown {
  position: relative;
  width: auto;
  & > button {

  }
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.2rem;
  vertical-align: middle;
  border-top: 4px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.dropdown-toggle:focus {
  outline: 0;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 16rem;
  padding: 0;
  margin: 2px 0 0;
  list-style: none;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0;
  box-shadow: 2px 2px 20px rgba(0,0,0,.04);
  background-clip: padding-box;
  &.pull-right {
    right: 0;
    left: auto;
  }
  & .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
  }
  & > li > a {
    text-decoration: none;
    display: block;
    padding: 0.5rem 2rem;
    clear: both;
    font-weight: normal;
    color: #333333;
    white-space: nowrap;
  }
  & > li {
    &:hover,
    &:focus {
        text-decoration: none;
        color: #262626;
        background-color: #f5f5f5;
    }
  }
  & > .active > a,
  & > .active > a:hover,
  & > .active > a:focus {
      color: #ffffff;
      text-decoration: none;
      outline: 0;
      background-color: $brand-primary;
  }
  & > .disabled > a,
  & > .disabled > a:hover,
  & > .disabled > a:focus {
    color: #777777;
  }
  & > .disabled > a:hover,
  & > .disabled > a:focus {
    text-decoration: none;
    background-color: transparent;
    background-image: none;
    cursor: not-allowed;
  }

  li {
    margin: 0;
    position: relative;
  }
}

.open > .dropdown-menu {
  display: block;
}

.open > a {
  outline: 0;
}

.dropdown-menu-right {
  left: auto;
  right: 0;
}

.dropdown-menu-left {
  left: 0;
  right: auto;
}

.dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: 12px;
  color: #777777;
  white-space: nowrap;
}

.dropdown-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 990;
}

.pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}
