.filters {
    .dropdown {
        display: inline-block;
        &.upload {
            width: 180px;
        }
        &.state {
            width: 220px;
            .ui-select-match {
                min-width: 220px;
                width: 100%;
            }
        }
        &.user {
            width: 200px;
            .ui-select-match {
                min-width: 200px;
                width: 100px;
            }
        }

        .text-muted {
            color: #666;
            font-weight: bold;
        }
    }

    .ui-select-match-text, .ui-select-placeholder {
        padding-right: 16px;
    }

    .ui-select-match {
        min-width: 180px;
        width: 100%;
        color: red;
        font-size: $font-size-h5;
    }
}

.ui-select-match .glyphicon-remove {
    top: -2px;
    right: -1px;
    position: relative;
}
