.header-left, .header-right, .header-center {
    padding: 30px 20px;
    color: #999;
    @media (min-width: $screen-sm-min) {
        float: left;
    }
}

.header-left, .header-right {
    width: 50%;
    position: absolute;
    top: 0;
    @media (min-width: $screen-sm-min) {
        float: left;
        width: 20%;
        position: static;
    }
}

.header-center {
    float: left;
    font-size: $font-size-h3;
    padding: 30px 20px;
    text-align: center;
    width: 100%;
    margin-top: 60px;
    @media (min-width: $screen-sm-min) {
        width: 60%;
        margin-top: 0;
    }
}

.header {
    max-width: 1140px;
    position: relative;
    margin: 0 auto;
}

.header-left {
    left: 0;
}

.header-right {
    right: 0;
    position: absolute;
    text-align: right;
}

.navbar-brand {
    .logo {
        height: 40px;
        margin-top: -4px;
    }
}

.navbar-default .navbar-toggle {
    border: 0;
}

.navbar {
    margin-bottom: 66px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
    border-top: 3px solid;
    margin-top: -1px;
    border-top-color: #fff;
    color: #fff;
}

.navbar-default .navbar-nav > li > a {
    color: rgba(255, 255, 255, 0.6);
    border-bottom: 3px solid transparent;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: transparent;
    border-top: 3px solid;
    margin-top: -1px;
    border-color: transparent;
}

.navbar-default {
    background-color: $color-header;
    border-color: #FFFFFF;
    border-radius: 0;
    border: 0;
}
