.map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #eee;
}

.map-below {
  z-index: 0;
}

.pfb-control-map-button {
  cursor: pointer;
}

.pfb-control-map-button.leaflet-control {
  position: absolute;
  top: 60px;
  right: 0px;
  z-index: 1;
}

.leaflet-btn {
  width: 44px;
  height: 44px;

  &[class*=icon-] {
    display: block;
    font-size: 20px;
    line-height: 44px;
    text-align: center;
    color: #000;
  }
}

.pfb-control-legend {
  padding: 5px;
  line-height: 18px;
  color: #555;

  h5 {
    margin-top: 0;
    margin-bottom: 5px;
  }

  i {
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    opacity: 0.7;
  }
}
