.modal-content {
    box-shadow: none;
    border: none;
    border-radius: 0;
    ul {
        list-style-type: none;
        margin-left: 0;
        padding-left: 0;
    }
}

.modal-dialog {
    width: 960px;
    max-width: 90%;
}
