#about {
    background-color: $color-about-background;
    color: #fff;
}

.cta {
    margin-top: $padding-vertical;
    padding-top: $padding-vertical;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.examples {
    .row {
        margin-top: 10px;
    }
}
