.main-header {
  padding-top: 7rem;
  padding-bottom: 7rem;
  background-image: url(../assets/images/home-header-2.jpg);
  background-position: center;
  background-size: cover;
  min-height: 90vh;
  display: flex;
  border-top: 1px solid darken($brand-primary, 20%);

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(black, .5);
    background: #00354a; /* Old browsers */
    background: -moz-linear-gradient(top, rgba(#00354a, .7) 0%, rgba(#09161d, .7) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(#00354a, .7) 0%,rgba(#09161d, .7) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(#00354a, .7) 0%,rgba(#09161d, .7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    z-index: 0;
  }

  .container {
    flex: 1;
    position: relative;
  }

  .pfb-logo {
    max-height: 16rem;
  }

  .pfb-logo-text {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 4rem;
    color: #fff;
    letter-spacing: 1px;
  }

  h1 {
    color: #fff;
  }
}

.decor {
  position: relative;
  text-align: center;
  letter-spacing: 1px;
  margin-top: 0;

  i {
    display: block;
    color: $brand-primary;
    margin-bottom: 1rem;
  }

  &:after {
    content: '';
    width: 10rem;
    border-top: 1px solid $shade-dark;
    display: block;
    margin: 2rem auto;
  }
}

.leaders,
.nationwide-map {
  background-color: $shade-light;
}

.overview-map {
  width: 100%;
  height: 460px;
  position: relative;
  overflow: hidden;
  border: 1px solid $shade-normal;

  .card {
    z-index: 1;
    height: auto;
    width: 240px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    text-align: center;
    margin-left: 10px;
    border: 1px solid darken($brand-primary, 5%);

    @include respond-to(xs) {
      position: absolute;
      transform: none;
      margin: 0;
      width: auto;
      left: 10px;
      right: 10px;
      top: 10px;

      .card-details {
        padding: 1rem;
      }
    }
  }

  .overview-total {
    @extend .h1;
    margin: 0;

    @include respond-to(xs) {
      display: inline-block;
      vertical-align: middle;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }

  .overview-total-label {
    @extend .h5;
    margin: 0;

    @include respond-to(xs) {
      display: inline-block;
      vertical-align: middle;
      margin: 1rem 0;
    }
  }

  .btn {
    margin: 2rem -2rem -2rem -2rem;
    width: auto;
    border-radius: 0;
    display: block;

    @include respond-to(xs) {
      margin: 0rem -1rem -1rem -1rem;
    }
  }
}

.calculation {
  background-color: $brand-navy;

  .decor {
    color: #fff;
  }

  .card-details {
    &:before {
      content: '';
      right: 0;
      height: 6px;
      display: inline-block;
      position: absolute;
      top: 0px;
      background-image: url("../assets/images/web-racing-stripe.png");
      background-size: 80%;
      background-repeat: no-repeat;
      background-position: right;
      width: 100%;
    }
  }
}
