.location-overview {

    .dropdown {
      display: inline;
    }

  .metric-details {
    padding: 0 2rem;
    background-color: $shade-light;
    border-bottom: 1px solid darken($shade-light, 5%);
    position: relative;
    z-index: 99;

    .row {
      margin: 0;
    }

    .network-score {
      margin: 0;

      .h3 {
        margin-left: 1rem;
      }
    }
  }
}
