.login {
    margin: 0 auto;
    max-width: 340px;
    padding: 40px 0;
    .logo {
        margin: 0 auto 30px;
        display: block;
        width: 110px;
    }
    .secondary-link {
        text-align: center;
        margin-top: 20px;
        display: block;
    }
    .btn-primary {
        margin-top: 21px;
    }
}

