<pfb-navbar admin="true"></pfb-navbar>

<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-push-1">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <h1 ng-if="!org.editing">Add Organization</h1>
                <h1 ng-if="org.editing">Edit Organization</h1>
            </div>
        </div>
      <form name="orgForm" novalidate ng-submit="org.saveOrg()">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <div class="form-group">
              <label for="name">Name</label>
              <input ng-model="org.org.name"
                     class="form-control"
                     id="name" type="text" required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <div class="form-group">
              <label for="type">Type</label>
              <select ng-model="org.org.orgType"
                      ng-disabled="!org.isAdminUser" class="form-control" id="role" type="text">
                <option ng-repeat="(value, key) in org.orgTypes" value="{{value}}">{{key}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <button type="submit" ng-disabled="userForm.$invalid && !ctl.isAdminUser"
                    class="btn-primary btn">
              <span ng-if="!org.editing">Add Organization</span>
              <span ng-if="org.editing">Save Changes</span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
