<pfb-navbar></pfb-navbar>
<!-- Top most header with hero image -->
<header class="main-header">
    <div class="container text-center">
        <img src="assets/images/bna-logo.png" alt="Bicycle Network Analysis" class="pfb-logo">
        <h1>Find out how well the bike network in your community connects people with the places they want to go</h1>
    </div>
</header>
<!-- Top most header with hero image -->

<!-- Section containing leaderboard -->
<section class="leaders">
    <div class="container">
        <h2 class="decor">
            <i class="icon-trophy"></i>
            Leading Cities/Towns
        </h2>
        <div class="row stack-xs">

            <!-- I imagine no more than 8 in the leaderboard
                     will suffice. Having more will make the page very long. -->

            <!-- If you duplicate the .column-6 divs
                     and children the layout will adjust. -->
            <div class="column-6" ng-repeat="city in home.cities">
                <div class="card">
                    <a ui-sref="places.detail({uuid: '{{city.uuid}}' })" class="card-link"></a>
                    <div class="card-map">
                        <pfb-thumbnail-map pfb-thumbnail-map-place="city.uuid"></pfb-thumbnail-map>
                    </div>
                    <div class="card-details">
                        <h3>{{city.label}}</h3>
                        <h4>{{city.label_suffix}}</h4>
                        <div class="network-score large">{{city.overall_score | number:0}}</div>
                        <div class="location-timestamp"><span>Last updated:</span>
                            {{city.modifiedAt | date:'MMMM dd, yyyy'}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section containing leaderboard -->

<!-- Section containing nationwide overview map -->
<section class="nationwide-map">
    <div class="container">
        <pfb-neighborhood-map></pfb-neighborhood-map>
    </div>
</section>
<!-- Section containing nationwide overview map -->

<!-- Section containing how each metric is calculated -->
<section class="calculation">
    <div class="container">
        <h2 class="decor">
            <i class="icon-calc"></i>
            How the BNA Score is calculated
        </h2>
        <div class="row stack-xs">
            <div class="column-6" ng-repeat="card in home.scoreCards">
                <div class="card alternate">
                    <div class="card-details">
                        <div class="card-title">
                            <h3>{{ ::card.title }}</h3>
                        </div>
                        <p>{{ ::card.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row stack-xs">
        <div class="column-12">
            <p class="decor">Our process is described in more detail, including a full technical summary,
                <a ui-sref='methodology'>here</a>.
            </p>
        </div>
    </div>
</section>
<!-- Section containing how each metric is calculated -->

<pfb-footer></pfb-footer>
