<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="login">
        <img class="logo" src="assets/images/logo-pfb.png" alt="PfB Logo">
        <form name="PWResetForm" novalidate ng-submit="pw.resetPassword()">
          <h1 class="h2">Reset Password</h1>
          <div class="form-group">
            <label for="password">New Password</label>
            <input class="form-control" required id="password" ng-model="pw.password" type="password">
            <label for="password-confirm">Confirm Password</label>
            <input class="form-control" required id="password-confirm" ng-model="pw.passwordConfirm" type="password">
          </div>
          <div class="form-action">
            <button class="btn btn-primary btn-block" ng-disabled="PWResetForm.$invalid || pw.formSubmitted || pw.passwordConfirm !== pw.password"
                    type="submit">Reset Password</button>
            <div class="link-block">
              <a class="secondary-link" ui-sref="login">Return to Sign In</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
