<div class="container">
  <div class="row align-center stack-xs">
    <div class="column-4">
      <div class="login">
        <div class="row align-center stack-xs">
            <div class="column-8 text-center">
                <img src="assets/images/bna-icon-dark.png" alt="BNA Logo">
            </div>
        </div>
        <form name="PWResetForm" novalidate ng-submit="pw.resetPassword()" class="panel">
        <div class="panel-body">
              <h1 class="h2">Reset Password</h1>
              <div class="form-group">
                <label for="password">New Password</label>
                <input class="form-control" required id="password" ng-model="pw.password" type="password">
              </div>
              <div class="form-group">
                <label for="password-confirm">Confirm Password</label>
                <input class="form-control" required id="password-confirm" ng-model="pw.passwordConfirm" type="password">
            </div>
              <div class="form-action">
                <button class="btn btn-primary btn-block" ng-disabled="PWResetForm.$invalid || pw.formSubmitted || pw.passwordConfirm !== pw.password"
                        type="submit">Reset Password</button>
                <div class="link-block">
                  <a class="secondary-link" ui-sref="login">Return to Sign In</a>
                </div>
              </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
