<pfb-navbar></pfb-navbar>

<!-- All Comparisons -->
<section class="comparisons">
    <div class="container">
        <h2 class="decor">
            <i class="icon-compare"></i>
            Place Comparison
        </h2>
        <div class="row align-center">
                <div class="btn-group">
                    <button class="btn btn-secondary"
                        ui-sref="places.compare({place1: '', place2: '', place3: ''})">Clear Selections</button>
                    <button ng-click="compare.goToPlacesList()"
                        class="btn btn-secondary">Back to Search</button>
                </div>
        </div>

        <div class="row stack-xs">
            <!-- Only up to three comparisons -->
            <div class="column-4" ng-repeat="place in compare.places track by $index">
                <div class="card stack" ng-if="place.neighborhood">
                    <div class="card-details">
                        <!-- TODO: fix styling. Why does icon not appear? -->
                        <a class="compare-remove"
                           ng-click="compare.clearSelection($index)">
                            <i class="icon-cross"></i>
                        </a>
                        <h3>{{place.neighborhood.label}}</h3>
                        <h4>{{place.neighborhood.label_suffix}}</h4>
                        <div class="network-score large">{{place.lastJob.overall_score | number:0}}</div>
                        <div class="location-timestamp"><span>Last updated:</span>
                            {{place.lastJob.modifiedAt | date:'MMMM dd, yyyy'}}</div>
                    </div>
                    <div class="card-map">
                        <pfb-thumbnail-map
                            pfb-thumbnail-map-place="place.neighborhood.uuid"></pfb-thumbnail-map>
                    </div>
                    <ul class="metric-list">
                        <li ng-repeat="m in compare.metadata"
                            ng-class="m.subscoreClass">
                            {{ ::m.label }}
                            <div class="tooltip" data-title="{{ ::m.description }}"><i class="icon-info-circled"></i></div>
                            <span ng-if="place.scores[m.name]"
                                class="network-score small">{{ ::place.scores[m.name].score_normalized | number:0 }}</span>
                            <span ng-if="!place.scores[m.name]"
                                class="network-score small">N/A</span>
                        </li>
                        <li>
                            <a ui-sref="places.detail({uuid: place.neighborhood.uuid})"
                                class="btn btn-secondary btn-block">View Place</a>
                        </li>
                    </ul>
                </div>
                <!-- This column is the placeholder that users will see
                 only one or two cities are selected. -->
                <div class="card compare-placeholder" ng-if="!place.neighborhood">
                    <div class="card-details">
                        <i class="icon-map"></i>
                        <div class="h2">Add a place to compare</div>
                        <a ng-click="compare.goToPlacesList()"
                            class="btn btn-primary btn-block">Search places</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<pfb-footer></pfb-footer>
