<div class="container">
  <div class="row align-center stack-xs">
    <div class="column-4">
      <div class="login">
        <div class="row align-center stack-xs">
            <div class="column-8 text-center">
                <img src="assets/images/bna-icon-dark.png" alt="BNA Logo">
            </div>
        </div>
        <form name="loginForm" novalidate ng-submit="login.login()" class="panel">
            <div class="panel-body">
              <div class="form-group">
                <label for="email">Email</label>
                <input class="form-control"
                       ng-model="login.email"
                       id="email"
                       type="text" required>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input class="form-control" ng-model="login.password" id="password" type="password" required>
              </div>
              <div class="form-action">
                <button class="btn btn-primary btn-block" ng-disabled="loginForm.$invalid"
                        type="submit">Sign In</button>
              </div>
          </div>
        </form>
        <div class="link-block">
                  <a class="secondary-link" ui-sref="request-password-reset">Reset Password</a>
                </div>
      </div>
    </div>
  </div>
</div>
