<pfb-navbar></pfb-navbar>

<div class="container">
  <div class="row">
    <div class="column-12">
      <h1>Run Analysis</h1>
      <form name="analysisJobCreateForm" novalidate ng-submit="analysisJobCreate.create()">
        <div class="row">
          <div class="column-4">
            <div class="form-group">
              <label for="role">Neighborhood</label>
              <select ng-model="analysisJobCreate.neighborhood"
                      ng-options="neighborhood as neighborhood.label + ', ' + neighborhood.label_suffix
                      for neighborhood in analysisJobCreate.neighborhoods track by neighborhood.uuid"
                      class="form-control" id="neighborhood" type="text" required>
              </select>
            </div>
          </div>
          <div class="column-4">
            <div class="form-group">
              <label for="label">OSM extract URL (optional)</label>
              <input ng-model="analysisJobCreate.osmUrl"
                     class="form-control" id="osmUrl" type="url">
            </div>
         </div>
        </div>
        <div class="row">
          <div class="column-4">
            <div class="form-group">
              <label for="label">Max Trip Distance (optional, in meters)</label>
              <input ng-model="analysisJobCreate.maxTripDistance"
                     class="form-control" id="maxTripDistance" type="number">
            </div>
          </div>
          <div class="column-4">
            <div class="form-group">
              <label for="label">Population File URL (optional)</label>
              <input ng-model="analysisJobCreate.populationUrl"
                     class="form-control" id="populationUrl" type="url">
            </div>
 
          </div>
        </div>
        <div class="row">
          <div class="column-4">
            <div class="form-group">
              <label for="label">Jobs File URL (optional)</label>
              <input ng-model="analysisJobCreate.jobsUrl"
                     class="form-control" id="jobsUrl" type="url">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="column-4">
            <div class="form-group">
              <input ng-model="analysisJobCreate.skipImportJobs"
                     class="form-control" id="skipImportJobsCheck" type="checkbox">
              <label for="label">Omit jobs data in analysis</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="column-12">
            <button type="submit" ng-disabled="analysisJobCreateForm.$invalid"
                    class="btn-primary btn">Submit Analysis Job</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
