<footer>
    <div class="stripe"></div>
    <div class="container">
        <div class="footer-left">
            <a ui-sref="home" class="brand">
                <img src="assets/images/placesforbikes-logo-white.png" alt="Places for bikes">
            </a>
        </div>
        <nav class="footer-right">
            <a ui-sref="places.list">All locations</a>
            <a href="#">About</a>
            <a ui-sref="methodology">Methodology</a>
            <a href="http://www.peopleforbikes.org/" target="_blank">People for bikes</a>
        </nav>
    </div>
</footer>
